body {line-height: 30px;
    letter-spacing: 3px;
    word-spacing:2px;
    text-indent: 30px;}

body {margin-left: auto;
    margin-right: auto;
    width: 940px}

body {width:100%;}
     
body {color: white;}

#exbackground {background-color: black; width: 100%; height: 100%;
               background-image: url(./img/fallout.jpg);
               background-repeat: no-repeat;
               background-size: cover;}

#inbackground {background-color: black; width: 100%; height: 100%;}