* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font: 100% normal Arial, Helvetica, sans-serif;
    background-image: url(./img/fnv.jpg);
    line-height: 1;
}

form, input, select, textarea {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

@media (max-width: 1024px) /*tablet*/ {
    body {
        background-image: url(./img/matrix.png);
    }
}

@media (max-width: 768px) /*celular*/ {
    body {
        background-image: url(./img/rdr.jpg);
    }
}

div.box {
    margin: 0 auto;
    width: 400px;
    background: #222222;
    position: relative;
    top: 50px;
    border: 1px solid #262626;
}

div.box h1 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
}

div.box label {
    width: 100%;
    display: block;
    background: #1C1C1C;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #161712;
    padding: 10px 0 10px 0;
}

div.box label span {
    display: block;
    color: #bbbbbb;
    font-size: 12px;
    float: left;
    width: 100px;
    text-align: right;
    padding: 5px 20px 0 0;
}

div.box .input_text {
    padding: 10px 10px;
    width: 200px;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
}

div.box .message {
    padding: 7px 7px;
    width: 350px;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
    overflow: hidden;
    height: 150px;
}

div.box .input_submit {
    color: black;
    position: relative;
    text-align: center;
    left: 45%;
}

#link {
    position: relative;
    text-align: center;
    top: 20px;
}

#logos {
    position: relative;
    width: 420px;
    text-align: center;
    right: 8px;
    top: 27px;
}

.im {
    position: relative;
    text-align: center;
    width: 9%;
    height: 9%;
}

#oi {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    top: 32px;
}